<ion-content  >

    <ion-item lines="none" >
        <ion-input class="input" [(ngModel)] = "task" placeholder="Enter the task"></ion-input>
  

    <ion-button class="addTask" (click) = "addTask()" >Add</ion-button>

</ion-item>

    <ion-item lines="none">
        <ion-label class="heading">TO DO:</ion-label>
    </ion-item>

    <ion-list radio-group *ngFor="let task of taskList;let i = index" (ionChange)="completed($event,i)">

        <ion-radio-group>

        <app-task [task] = "task"  ></app-task>

    </ion-radio-group>

    </ion-list>
</ion-content>
