.input{

    margin-top: 20px;
    border: thin solid red;
    border-radius: 15px;
    

}
.heading{

    font-size: 20px !important;

}


.addTask{

    margin-top: 20px;

    width: 60px;
    height: 40px;
    font-size: 20px;
    margin-left: 20px;

}